@import "tailwindcss";

:root {
    --background: #FFFFFF;
    --foreground: #1F2937;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
}

canvas {
    display: block;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 10px;
}